<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Café & WiFi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!--    FontAwesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="{{ url_for('home') }}">Café & WiFi</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#coffee-shops">Cafeterias</a></li>
                <li><a href="{{ url_for('add_cafe') }}">Adicionar Cafeterias</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animated fadeInDown">Bem-vindo as Cafeterias do Mundo</h2>
                            <p class="animated fadeInUp">Descubra as melhores cafeterias da sua região.</p>
                            <a href="#coffee-shops" class="btn-get-started animated fadeInUp scrollto">Ver cafeterias</a>
                            <a href="/add" class="btn-get-started">Adicionar cafeteria</a>
                        </div>
                    </div>

                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-2.jpg)">
                                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animated fadeInDown">Cafeteria</h2>
                            <p class="animated fadeInUp">Descubra as melhores cafeterias da sua região.</p>
                            <a href="#coffee-shops" class="btn-get-started animated fadeInUp scrollto">Ver cafeterias</a>
                            <a href="/add" class="btn-get-started">Adicionar cafeteria</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-3.jpg)">
                                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animated fadeInDown">WiFi</h2>
                            <p class="animated fadeInUp">Descubra as melhores cafeterias da sua região.</p>
                            <a href="#coffee-shops" class="btn-get-started animated fadeInUp scrollto">Ver cafeterias</a>
                            <a href="/add" class="btn-get-started">Adicionar cafeteria</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->


    <!-- ======= Coffee Shops Section ======= -->
    <section id="coffee-shops" class="coffee-shops">

        <div class="section-title">
            <h2>Cafeterias</h2>
        </div>

        {% for row in all_cafes %}
        <div class="row justify-content-center">
            {% for cafe in row %}

            <div class="col-lg-4 d-flex justify-content-center mt-5 align-items-stretch">
                <div class="card" style="width: 18rem;">
                    <img src="{{ cafe.img_url }}" style="height:215px" ; class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ cafe.name }}</h5>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <h6 class="card-subtitle text-muted mb-1"> {{ cafe.location }} </h6>
                                <a href="{{ cafe.map_url }}" class="card-link"> Google Maps </a>
                                <p class="card-text mt-2">
                                    <i class="fas fa-coffee mr-3" aria-hidden="true"></i> {{ cafe.coffee_price }}
                                    <br>
                                    <i class="fas fa-chair mr-3" aria-hidden="true"></i> {{ cafe.seats}}
                                </p>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                                <a href="{{ url_for('delete', id=cafe.id) }}" class="btn btn-primary">Deletar</a>
                            </div>
                        </div>
                        <p class="card-text items">
                            {% if cafe.has_wifi == 1%}
                            <i class="fas fa-wifi" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.has_sockets == 1%}
                            <i class="fas fa-plug" style="width: 1.25rem; text-align:center" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.has_toilet == 1%}
                            <i class="fas fa-toilet" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.can_take_calls == 1%}
                            <i class="fas fa-phone" aria-hidden="true"></i>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% endfor %}
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Café & WiFi</h3>
        <p>Um site que permite que você escolha a melhor cafeteria para você <i class="fas fa-coffee"></i>

</p>
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Bruno</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assets/vendor/php-email-form/validate.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/js/main.js"></script>

</body>

</html>